<!-- Footer Component -->
<section class="relative text-gray-700">
  <div
    class="container flex flex-col items-center justify-center min-h-[40px] mx-auto px-7 max-w-7xl sm:flex-row sm:min-h-[50px] bg-transparent py-4"
  >
    <p
      class="mt-2 text-sm text-neutral-700 dark:text-neutral-300 sm:mt-0"
    >
      © 2025 Lukasz Mielczarek. All rights reserved.
    </p>
  </div>
</section>
